*{
    box-sizing: border-box;
}

body{
    background: #2d2013;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
    max-width: 800px;
}

.flex{
    display: flex;
}

input,
button{
    border: 1px solid #dedede;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 14px;
    margin: 0;
    padding: 8px 10px;
}

input[type="text"]{
    width: 300px;
}

.meal{
    cursor: pointer;
    height: 180px;
    position: relative;
    text-align: center;
    width: 180px;

}

.meal .meal-info{
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.2s ease-in;
    opacity: 0;
    height: 100%;
    width: 100%;
}

.meal:hover .meal-info{
    opacity: 1;
}

.meal img{
    border:2px solid #fff;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.meals{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:20px;
    margin-top: 20px;
}

#result-heading{
    font-size: 24px;
    margin: 30px 0;
}

.random-btn{
    cursor: pointer;
    margin-left: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-btn{
    border-left: 0;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

.single-meal{
    margin:30px;
}

.single-meal img{
    border: 2px solid #fff;
    width: 200px;
}

.single-meal-info{
    border: 1px dashed #e09850;
    border-radius: 4px;
    margin:20px;
    padding: 15px;
}

/* Not working */
.single-meal-ingredients ul li{
    background-color: #fff;
    color: black;
    padding: 5px;
}

ul{
    list-style: none;
}

@media(max-width:800px){
    .meals{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:700px){
    .meals{
        grid-template-columns: repeat(2, 1fr);
    }

    .meal{
        height: 200px;
        width: 200px;
    }
}

@media(max-width: 500px){
    input[type='text']{
        width: 100%;
    }

    .meals{
        grid-template-columns: 1fr; /* 1 column - expand screen*/
    }

    .meal{
        height: 300px;
        width: 300px;
    }
}